<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update your personal details</title>
    <style>
        /* General styles */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .container {
            display: flex;
            flex-direction: column;
            width: 80%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        .box {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
            margin-bottom: 20px;
        }
        .grey-bg {
            background-color: #f2f2f2; /* Grey background color */
        }
    </style>
</head>
<body>
    <h1>IIT PATNA</h1>
    <h2>Application for Faculty Position</h2>
    <div class="box">
        <h3>Welcome</h3>                       
    </div>
    <form class="form-horizontal" role="form" method="post" action="/page7" onClick="return empty()" onsubmit="saveData()">
       
        <div class="container">
            <h3>14. Significant research contribution and future plans *(not more than 500 words)
                (Please provide a Research Statement describing your research plans and one or two specific research projects to be conducted at IIT Indore in 2-3 years time frame)</h3>
            <div class="box">
                <textarea name="ca" id="ca" cols="30" rows="10" ></textarea>
            </div>
        </div>
        <div class="container">
            <h3>14. Significant research contribution and future plans *(not more than 500 words)
                (Please provide a Research Statement describing your research plans and one or two specific research projects to be conducted at IIT Indore in 2-3 years time frame)</h3>
            <div class="box">
                <textarea name="ca" id="ca" cols="30" rows="10" ></textarea>
            </div>
        </div>
        <div class="container">
            <h3>15. Significant teaching contribution and future plans*
                 (Please list UG/PG courses that you would like to develop and/or teach at IIT Indore)(not more than 500 words)</h3>
            <div class="box">
                <textarea name="pa" id="pa" cols="30" rows="10" ></textarea>
            </div>
        </div>
        <div class="container">
            <h3>16. Any other relevant information.(not more than 500 words)</h3>
            <div class="box">
                <textarea name="ta" id="ta" cols="30" rows="10" ></textarea>
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
        